body {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/779533782451724835/FF2D405135C62D8901C871940EB17CE1C12AB746/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  header.fix{
    text-align: center;
  }